{% load static %}
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style type="text/css">

    </style>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'design.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    {% block css %}{% endblock %}
    {% block scripthead %}{% endblock %}
    {% if title %}
        <title>edumariners - {{ title }}</title>
    {% else %}
        <title>edumariners</title>
    {% endif %}

</head>
<body style=" background: {% static 'subloh.jpg' %};>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top" style="">
        <div class="container">
          <a href="{% url 'notes-home' %}"><img src="{% static 'logo.jpg' %}" style="width:3em" ></a>
           <a class="navbar-brand mr-4" style="margin-left: %;"  href="{% url 'notes-home' %}"><h4><font color="green" style="padding:0em 0em 0em 0em;"> edu</font> <font color="red">mariners</font></br><div style="height: .1em" ><p style="font-size: 13px;">by the mariners, for the mariners </p></div></h4></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'notes-home' %}">Home</a>
              <a class="nav-item nav-link" href="{% url 'notes-contact' %}">contact</a>

                <!--<input class="nav-item nav-link" type="text" placeholder="Search..">-->
            </div>

            </div>
          </div>

        </div>
      </nav>
    </header>

        <div class="container">
            {% block contact %}{% endblock %}
            <div style="float:left; padding: 3em 0em 0em 0em; width:45%">{% block sidebar %}{% endblock %}</div>
            <div style="float:right; padding: 3em 0em 0em 0em; width:50%">{% block content %}{% endblock %}</div>
            <div>{% block pdf %}{% endblock %}

        </div>
        <footer class="footer">
           © edu mariners -by the mariners, for the mariners
        </footer>
</div>

          </main>
    {% block script %}{% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>


</html>