{%extends 'edumariners/base.html'%}
{% load staticfiles %}
{% block scripthead %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="{% static 'pdf.js' %}"></script>
<script src="{% static 'pdf.worker.js' %}"></script>
{% endblock scripthead %}
{% block css %}

<link rel="stylesheet" type="text/css" href="{% static 'design.css' %}">
{% endblock css %}
{% block sidebar%}
<div class="content-section" id="list-topic">
    <ul class="list-group">
     {% for item in topic_name %}
         <button class="list-group-item list-group-item-liht" onclick="getPdf('{{item.file_name}}')">{{item.topic_name}}</button>
     {% endfor %}
    </ul>
</div>

{% endblock sidebar %}
{% block pdf %}
{% include 'edumariners/pdf.html' %}
{% endblock pdf %}

{% block script %}
<script src="{% static 'pdfscript.js' %}"></script>
{% endblock script %}